body {
    width:1000px;
    height:213px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: sandybrown;}
.elso {    
    height: 25%;
    width: 2.5%;
    background: royalblue;}
.masodik{
    height: 50%;
    width: 5%;
    background: lightsalmon;}
span{
    height: 50%;
    width: 50%;
    background:red;
    position: relative;
    display: flex;
    margin: 25% 25% 25% 25%;
    z-index: -1;}
img{
    width: 80%;
    height: 80%;
    margin: 10% 10% 10% 10%;
    background: white;
    position: relative;
    z-index: -1;}
div{
    width: 100%;
    height: 47%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: white;
    border: 1px solid palevioletred;}
.elso:hover, .masodik:hover{
    background: purple;
    opacity: 0.5;
    cursor: not-allowed;}
.cont:hover{
    border-radius: 15px ;}